@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;600;700&family=Orbitron:wght@400;700&display=swap');
@import "tailwindcss";

/* For Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}
html {
  scroll-behavior: smooth;
}

/* For WebKit (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

p {
  font-family: 'Exo', Arial, Helvetica, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', Arial, Helvetica, sans-serif !important;
}
